<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>  
  <connectionStrings>
    <add name="Presentacion.Properties.Settings.SistemasConexionStrings"
      connectionString="Data Source=WIN-8HN7Q7IBUI4\SQLEXPRESS;Initial Catalog=BD_Suigin_2018;Persist Security Info=False;User ID=sa;Password=419141"
      providerName="System.Data.SqlClient" />
    <add name="Presentacion.Properties.Settings.BD_WUCHUNG_2018ConnectionString"
      connectionString="Data Source=MAICK_PC_DEV\MAICK;Initial Catalog=BD_WUCHUNG_2018;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Presentacion.Properties.Settings.BD_WUCHUNG_2018ConnectionString1"
      connectionString="Data Source=WIN-S9GRIPHISTT\SQLEXPRESS;Initial Catalog=BD_JINLI_2018;Persist Security Info=False;User ID=sa;Password=Jinli12345"
      providerName="System.Data.SqlClient" />
    <add name="Presentacion.Properties.Settings.BD_WUCHUNG_2018ConnectionString2"
      connectionString="Data Source=WIN-S9GRIPHISTT\SQLEXPRESS;Initial Catalog=BD_JINLI_2018;Persist Security Info=False;User ID=sa;Password=Jinli12345"
      providerName="System.Data.SqlClient" />
    <add name="Presentacion.Properties.Settings.BD_WUCHUNG_2018ConnectionString3"
      connectionString="Data Source=.;Initial Catalog=BD_WUCHUNG_2018;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Presentacion.Properties.Settings.BD_WUCHUNG_2018ConnectionString4"
      connectionString="Data Source=MAICK_PC_DEV\MAICK;Initial Catalog=BD_WUCHUNG_2018;User ID=sa;Password=foreach()"
      providerName="System.Data.SqlClient" />
    <add name="Presentacion.Properties.Settings.BD_WUCHUNG_2018ConnectionString5"
      connectionString="Data Source=.;Initial Catalog=BD_WUCHUNG_2018;User ID=sa;Password=foreach()"
      providerName="System.Data.SqlClient" />
    <add name="Presentacion.Properties.Settings.BD_WUCHUNG_2018ConnectionString6"
      connectionString="Data Source=MAICK\SQLEXPRESS;Initial Catalog=BD_WUCHUNG_2018;User ID=sa;Password=foreach()"
      providerName="System.Data.SqlClient" />
    <add name="Presentacion.Properties.Settings.BD_TESTConnectionString"
      connectionString="Data Source=MAICK;Initial Catalog=BD_TEST;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Presentacion.Properties.Settings.BD_TESTConnectionString1"
      connectionString="Data Source=MAICK;Initial Catalog=BD_TEST;Persist Security Info=True;User ID=sa;Password=foreach()"
      providerName="System.Data.SqlClient" />
    <add name="Presentacion.Properties.Settings.BD_TESTConnectionString2"
      connectionString="Data Source=.;Initial Catalog=BD_TEST;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Presentacion.Properties.Settings.BD_TESTConnectionString3"
      connectionString="Data Source=DESKTOP-T90KC5A\MAICK;Initial Catalog=BD_TEST;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Presentacion.Properties.Settings.BD_TEST_2020ConnectionString"
      connectionString="Data Source=DESKTOP-T90KC5A\MAICK;Initial Catalog=BD_TEST_2020;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Presentacion.Properties.Settings.BD_ALMATRINCHERO_2020_NEWConnectionString"
      connectionString="Data Source=DESKTOP-T90KC5A\MAICK;Initial Catalog=BD_ALMATRINCHERO_2020_NEW;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
</configuration>
