<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>	  
  </configSections>  
  <connectionStrings>
    <add name="Presentacion.Properties.Settings.SistemasConexionStrings" connectionString="Data Source=WIN-8HN7Q7IBUI4\SQLEXPRESS;Initial Catalog=BD_Suigin_2018;Persist Security Info=False;User ID=sa;Password=419141" providerName="System.Data.SqlClient"/>
    <add name="Presentacion.Properties.Settings.BD_WUCHUNG_2018ConnectionString" connectionString="Data Source=MAICK_PC_DEV\MAICK;Initial Catalog=BD_WUCHUNG_2018;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="Presentacion.Properties.Settings.BD_WUCHUNG_2018ConnectionString1" connectionString="Data Source=WIN-S9GRIPHISTT\SQLEXPRESS;Initial Catalog=BD_JINLI_2018;Persist Security Info=False;User ID=sa;Password=Jinli12345" providerName="System.Data.SqlClient"/>
    <add name="Presentacion.Properties.Settings.BD_WUCHUNG_2018ConnectionString2" connectionString="Data Source=WIN-S9GRIPHISTT\SQLEXPRESS;Initial Catalog=BD_JINLI_2018;Persist Security Info=False;User ID=sa;Password=Jinli12345" providerName="System.Data.SqlClient"/>
    <add name="Presentacion.Properties.Settings.BD_WUCHUNG_2018ConnectionString3" connectionString="Data Source=.;Initial Catalog=BD_WUCHUNG_2018;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="Presentacion.Properties.Settings.BD_WUCHUNG_2018ConnectionString4" connectionString="Data Source=MAICK_PC_DEV\MAICK;Initial Catalog=BD_WUCHUNG_2018;User ID=sa;Password=foreach()" providerName="System.Data.SqlClient"/>
    <add name="Presentacion.Properties.Settings.BD_WUCHUNG_2018ConnectionString5" connectionString="Data Source=.;Initial Catalog=BD_WUCHUNG_2018;User ID=sa;Password=foreach()" providerName="System.Data.SqlClient"/>
    <add name="Presentacion.Properties.Settings.BD_WUCHUNG_2018ConnectionString6" connectionString="Data Source=MAICK\SQLEXPRESS;Initial Catalog=BD_WUCHUNG_2018;User ID=sa;Password=foreach()" providerName="System.Data.SqlClient"/>
    <add name="Presentacion.Properties.Settings.BD_TESTConnectionString" connectionString="Data Source=MAICK;Initial Catalog=BD_TEST;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="Presentacion.Properties.Settings.BD_TESTConnectionString1" connectionString="Data Source=MAICK;Initial Catalog=BD_TEST;Persist Security Info=True;User ID=sa;Password=foreach()" providerName="System.Data.SqlClient"/>
    <add name="Presentacion.Properties.Settings.BD_TESTConnectionString2" connectionString="Data Source=.;Initial Catalog=BD_TEST;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="Presentacion.Properties.Settings.BD_TESTConnectionString3" connectionString="Data Source=DESKTOP-T90KC5A\MAICK;Initial Catalog=BD_TEST;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="Presentacion.Properties.Settings.BD_TEST_2020ConnectionString" connectionString="Data Source=DESKTOP-T90KC5A\MAICK;Initial Catalog=BD_TEST_2020;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="Presentacion.Properties.Settings.BD_ALMATRINCHERO_2020_NEWConnectionString" connectionString="Data Source=DESKTOP-T90KC5A\MAICK;Initial Catalog=BD_ALMATRINCHERO_2020_NEW;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="Presentacion.Properties.Settings.BD_ALMATRINCHERO_2020_NEWConnectionString1" connectionString="Data Source=MAICK-PC\SQLEXPRESS;Initial Catalog=BD_ALMATRINCHERO_2020_NEW;User ID=sa;Password=foreach()" providerName="System.Data.SqlClient"/>
    <add name="Presentacion.Properties.Settings.BD_ALMATRINCHERO_2020_NEWConnectionString2" connectionString="Data Source=.;Initial Catalog=BD_ALMATRINCHERO_2020_NEW;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="conection" connectionString="Data Source=.;Initial Catalog=BD_SISTEMA_V2;Integrated Security=True"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>

	 

	<appSettings>
	</appSettings>
  <runtime>
	  <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
		  <dependentAssembly>
			  <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
			  <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
		  </dependentAssembly>
		  <dependentAssembly>
			  <assemblyIdentity name="Google.Apis.Auth" publicKeyToken="4b01fa6e34db77ab" culture="neutral"/>
			  <bindingRedirect oldVersion="0.0.0.0-1.48.0.0" newVersion="1.48.0.0"/>
		  </dependentAssembly>
		  <dependentAssembly>
			  <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral"/>
			  <bindingRedirect oldVersion="0.0.0.0-3.15.8.0" newVersion="3.15.8.0"/>
		  </dependentAssembly>
		  <dependentAssembly>
			  <assemblyIdentity name="Google.Api.Gax" publicKeyToken="3ec5ea7f18953e47" culture="neutral"/>
			  <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0"/>
		  </dependentAssembly>
		  <dependentAssembly>
			  <assemblyIdentity name="Google.Api.Gax.Grpc" publicKeyToken="3ec5ea7f18953e47" culture="neutral"/>
			  <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0"/>
		  </dependentAssembly>
		  <dependentAssembly>
			  <assemblyIdentity name="Google.Api.CommonProtos" publicKeyToken="3ec5ea7f18953e47" culture="neutral"/>
			  <bindingRedirect oldVersion="0.0.0.0-2.3.0.0" newVersion="2.3.0.0"/>
		  </dependentAssembly>
		  <dependentAssembly>
			  <assemblyIdentity name="Google.Api.Gax.Grpc.GrpcCore" publicKeyToken="3ec5ea7f18953e47" culture="neutral"/>
			  <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0"/>
		  </dependentAssembly>
	   <dependentAssembly>
	    <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral"/>
	    <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0"/>
	   </dependentAssembly>
	   <dependentAssembly>
	    <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral"/>
	    <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0"/>
	   </dependentAssembly>
	  </assemblyBinding>
  </runtime>
</configuration>
